<div class="home-background-img"></div>
<div class="home-background">
  <app-navbar></app-navbar>

  <div class="logo d-flex justify-content-center align-content-center">
    <img src="assets/oichegamos_logo.png" alt="Oi, Chegamos!">
  </div>

  <div class="social-media-buttons d-flex justify-content-center">
    <div class="row gx-2">

      <ng-container *ngFor="let socialMedia of socialMedias">
        <div class="col" *ngIf="!socialMedia.disabled && socialMedia.showOnHomePage">
          <div class="social-media-icon">
            <a href="{{socialMedia.url}}" target="_blank">
              <img src="{{socialMedia.icon}}" alt="{{socialMedia.name}}">
            </a>
          </div>
        </div>
      </ng-container>

    </div>
  </div>


</div>

<div class="container-fluid mt-5">
  <h3>últimas postagens</h3>
</div>

<app-footer></app-footer>
