<app-dash-navbar pageName="Posts"></app-dash-navbar>

<div class="container-fluid d-flex flex-column">
  <div class="row g-3">
    <div class="col-8">
      <input type="text" class="form-control" id="searchTerm" [(ngModel)]="searchTerm">
    </div>
    <div class="d-grid" [ngClass]="{'col-2': !isMobileDevice(), 'col-4': isMobileDevice()}">
      <button type="button" class="btn btn-secondary" (click)="loadPosts()">
        <i class="bi bi-search"></i>
        <span class="ps-2">Pesquisar</span>
      </button>
    </div>
    <div class="d-grid" [ngClass]="{'col-2': !isMobileDevice(), 'col-12': isMobileDevice()}">
      <button type="button" class="btn btn-primary" (click)="newPost()">
        <i class="bi bi-file-earmark-plus"></i>
        <span class="ps-2">Criar novo post</span>
      </button>
    </div>
  </div>

  <ng-container *ngIf="isLoading">
    <app-loading class="mt-5"></app-loading>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <table class="table table-borderless table-striped mt-3">
      <thead>
        <th class="text-center">Título</th>
        <th class="text-center">Descrição</th>
        <th class="text-center">Opções</th>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts | paginate: { itemsPerPage: itemsPerPage,
                                                    currentPage: currentPage,
                                                    totalItems: totalItems
                                                  }">
          <td>{{post.title}}</td>
          <td>{{getPostDescription(post)}}</td>
          <td class="d-flex justify-content-between">
            <span class="pointer" (click)="openPostLink(post)"><i class="bi bi-link-45deg"></i></span>
            <span class="pointer" (click)="editPost(post)"><i class="bi bi-pencil-square"></i></span>
            <span class="pointer" (click)="deletePost(post)"><i class="bi bi-trash3-fill"></i></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="mt-2 d-flex justify-content-center">
      <pagination-controls
      (pageChange)="pageChange($event)"
      previousLabel="Anterior"
      nextLabel="Próximo"
      ></pagination-controls>
    </div>

  </ng-container>

</div>
