<div class="container-fluid mt-5" *ngIf="lastPosts.length > 0">
  <h3>últimas postagens</h3>
  <div class="row mt-3">

    <div [ngClass]="{'col-6': !isMobileDevice(), 'col-12': isMobileDevice()}">
      <div class="last-post d-flex flex-column">
        <div class="d-flex flex-column" [ngClass]="{'align-self-center': isMobileDevice()}">
          <img src="{{lastPost?.image?.image_url}}" alt="{{lastPost?.image?.description}}">

          <span class="title">{{lastPost?.title}}</span>
          <span class="description">{{lastPost?.content}}</span>
        </div>
      </div>
    </div>

    <div [ngClass]="{'col-6': !isMobileDevice(), 'col-12 mt-2': isMobileDevice()}">
      <div class="d-flex flex-column">

        <div
          class="other-post mb-2 d-flex flex-row"
          [ngClass]="{'align-self-center': isMobileDevice()}"
          *ngFor="let post of lastPosts.slice(1, 3)"
        >
          <img src="{{post.image.image_url}}" alt="imagem">
          <div class="ps-2">
            <span class="title">{{post.title}}</span>
            <span class="description">{{post.content}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
