

.footer {
  margin-top: 5vh;
  background-color: #1F95DE;
  width: 100%;
  min-height: 30vh;
}

.contact-info {
  width: 50%;
}

.logo {
  width: 50%;
}

@media (max-width: 767px) {
  .footer {
    min-height: 50vh;
  }
  .contact-info {
    width: 100%;
  }

  .logo {
    width: 100%;
  }
}

.logo img {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.icon {
  height: 3vh;
  width: 3vh;
}

.email {
  color: black;
  text-decoration: none;
}
