<div class="footer d-flex justify-content-between">
  <div class="contact-info container-fluid mt-3 mb-6 d-flex flex-column">
    <h4>entre em contato!</h4>

    <div *ngFor="let socialMedia of socialMedias">
      <div *ngIf="!socialMedia.disabled" class="mt-2 d-flex justify-content-start align-items-center">
        <img class="icon" src="{{socialMedia.icon}}" alt="">
        <a class="email ms-2" href="{{socialMedia.url}}" target="_blank">{{socialMedia.name}}</a>
      </div>
    </div>
  </div>

  <div class="logo d-flex align-items-center" [ngClass]="{'justify-content-end pe-5': !isMobileDevice(), 'justify-content-center mt-3 mb-5': isMobileDevice()}">
    <div class="d-flex flex-column align-items-center">
      <img class="logo-img" src="assets/oichegamos_logo.png" alt="Oi, Chegamos!">
      <p class="mt-4">© 2023 Oi, Chegamos!</p>
      <a href="https://www.flaticon.com/" target="_blank">
        <img class="icon" src="assets/icons/paint-brush.png" alt="">
        Ícones por Flaticon
      </a>
    </div>
  </div>
</div>
