<div class="container-fluid mt-5">
  <div class="about-us d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column">
      <h3>sobre</h3>
      <span>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Ut vitae enim ut massa pharetra
        commodo. Curabitur vestibulum consectetur
        justo, eu condimentum dolor feugiat eu. Integer
        eu turpis at nisl luctus lobortis. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia Curae; Vestibulum aliquam
        facilisis mi, a consectetur ex blandit sed. In hac
        habitasse platea dictumst. Mauris rhoncus
        consequat sollicitudin. Integer laoreet iaculis
        bibendum. Proin eget volutpat justo. Aliquam
        tristique mi at justo tincidunt, eu consectetur
        ipsum pharetra. Phasellus eu leo eu neque
        mattis sagittis. Nulla auctor turpis nec nulla
        posuere auctor. Vivamus ultrices erat sit amet
        nibh consequat, in aliquet ex facilisis.</span>
    </div>

    <img src="assets/about-us.jpg" alt="Gabs e Lari" class="">

  </div>
</div>
