.about-us span {
  font-size: 1.2em;
  width: 52vw;
  text-align: justify;
}

.about-us img {
  width: 40vw;
  height: 60vh;

  object-fit: cover;
}

@media (max-width: 767px) {
  .about-us span{
    width: 93vw;
    margin-top: 1vh;
  }

  .about-us img {
    width: 93vw;
    height: 60vh;

    object-fit: cover;
  }
}
