.blog-background {
  position: relative;
  height: 50vh;
}

.blog-background-img::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 50vh;
  backdrop-filter: blur(3px);
  pointer-events: none;
}

.blog-background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;

  background: no-repeat center center;
  background-size: cover;

  pointer-events: none;
}

.content {
  min-height: 30vh;
}

.not-found {
  height: 100vh;
}

.not-found img {
  height: 15vw;
  width: 15vw;
}

.post-title {
  margin-top: 25vh;
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 4em;
  text-align: center;
  line-height: 1em;
}

@media (max-width: 767px) {
  .post-title {
    font-size: 3em;
  }
}
