<div class="our-status mt-5 d-flex align-items-center">
  <div [ngClass]="{'container': !isMobileDevice(), 'container-fluid': isMobileDevice()}">
    <div class="d-flex align-items-center justify-content-between flex-wrap">

      <div class="status-info d-flex flex-column align-items-center">
        <img src="assets/icons/world.png" alt="Países visitados">
        <span>1 país</span>
      </div>

      <div class="status-info d-flex flex-column align-items-center">
        <img src="assets/icons/brazil.png" alt="Países visitados">
        <span>2 estados</span>
      </div>

      <div class="status-info d-flex flex-column align-items-center">
        <img src="assets/icons/city.png" alt="Países visitados">
        <span>3 cidades</span>
      </div>

      <div class="status-info d-flex flex-column align-items-center">
        <img src="assets/icons/photos.png" alt="Países visitados">
        <span>54 fotos</span>
      </div>
    </div>
  </div>
</div>
